:root {
    --pimary-color:#b9eed2;
    --secondary-color:#FFD700;
    --third-color:#333333;
    --fourth-color:#FF9A8D;
    --white-color:#fff8e7;
    --font-family: "Sniglet", system-ui;

}
*{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--white-color);
    z-index: 1;
}
h1, h2 {
    text-align: center;
    margin-top: .8em;
}
h3{

    color: var(--fourth-color);
}
h1, h2, h3{
    font-weight: 500;
    text-align: center;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    height: 10vh;
}
.logoSection{
    display: flex;
    justify-content: center;
    width: 30vw;
    padding: 0 1em;
    background-color: var(--primary-color);
}
.logo{
    margin: 1em auto;
    background-color: var(--primary-color);

}
#menuIcon,
#closeBtn{
    background-color: var(--secondary-color);
    margin: .5em auto;
    padding: 1em;
    margin-right: 5%;
}
i{
    background-color: var(--secondary-color);
    font-size: 2em;
}

.navbar  {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    align-items: center;
    margin: auto 1.5em;
    background-color: var(--primary-color);
}

.navbar__link{
    text-decoration: none;
    margin: .5em;
    color: var(--third-color);
    background-color: var(--primary-color);
    font-size: .8em;
}

.collapseNav {
    width: 100vw;
    background-color: var(--secondary-color);
    font-size: 1.2em;
    z-index:  2; /* Centers the navigation links */
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 8% 1.5em;
    padding: 1.5em;
}



main{
    background-color: var(--white-color);
}
.sectionPres{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 90vw;
    margin: .8em auto;
    padding: 2em auto;
}
.sectionPres__info {
    padding: .5em;
}
.sectionPres__info_txt{
    text-align: center;
    font-size: .8em;
    margin: 1em 0;
}
.sectionPres__productivityImg{
    display: hidden;
}
.sectionPres__img {
    width: 100%;
}
.sectionPres__begin {
    margin: .8em 40%; 

}
button{
    background-color: var(--fourth-color);
    padding: .6em;
    border-radius: 15px;
    margin-top: .8em;
    color: var(--third-color);
    border: 1px var(--white-color) solid;
}
button:hover{
    cursor: pointer;
}
.sectionPres__img>img{
    width: 100%;
}
.sectionFeatures {
    display: flex;
    padding: .8em;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionFeature__card__title{
    font-size: 1.2em;
}
.sectionFeatures .sectionFeature__card {
    margin: .5em;
    padding: .1em;
    border: 2px var(--fourth-color) solid;
    border-radius: 10px;
    text-align: center;
    width: auto;
}

.sectionFeature__TimeTracker,
.sectionFeature__pomodoro,
.sectionFeature__focus {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

.sectionFeature__card:hover .sectionFeature__TimeTracker,
.sectionFeature__card:hover .sectionFeature__pomodoro,
.sectionFeature__card:hover .sectionFeature__focus {
    opacity: 1;
    visibility: visible;
}

.sectionFeatures .sectionFeature__card >p{
    margin-top: .8em;
    font-size: .8em;
}
.featureImg{
    width: 80%;
    margin: .5em auto;
    border-radius: 50px;
}
.sectionPrices{
    display: flex;
    padding: .8em;
    margin: auto;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionPrices .sectionPrices__card{
    margin: .3em;
    padding: .8em;
    width: 37%;
    border: 2px var(--fourth-color)solid;
    border-radius: 10px;
    text-align: center;
}

.sectionPrices_price {
    font-size: 1.5em;
}
.sectionPrice__title{
    font-size: 1.3em;
}
.sectionPrice__descr{
    font-size: .7em;
}
.sectionPrices_price > span{
    font-size: .8em;
}
.sectionPrice__select{
    font-size: .8em;
    margin: .5em -1em;
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}
.contactForm>form{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .8em;

}

.sectionContactForm {
    width: 60%;
    margin:.5em  auto;
    border: 2px var(--fourth-color) solid;
    border-radius: 10px;
    padding: .5em;
}
#sectionContactForm__msg {
    resize: none;

}

#sectionContactForm__msg::placeholder{
    line-height: 40px;
    font-size: .8em;
}
.sectionContactForm__submitBtn{
    width: 30%;
}

@media (min-width: 645px) { 
    header{
        height: 15vh;

    }
    button {
        font-size: 1em;
    }
    h2,h3{
        font-size: 2em;
    }

    .logoSection{
        width: 10%;
        padding: 2em auto;
    }

    .navbar{
        margin: auto;
        justify-content:space-evenly;
        font-size: 2em;
    }
    .sectionPres {
        display: flex; 
        flex-direction: row;
        justify-content: start; 
        align-items: center; 
        flex-wrap: wrap;
        width: 80%; 
        margin: 0.8em auto; 
        padding: 2em; 
    }
    .sectionPres__info__title{
        text-align: start;
        font-size: 2em;
    }
    .sectionPres__info {
        flex: 1;
        margin: 0; 
        width: auto; 
        text-align: start;
        font-size: 1.5em;

    }
    
    .sectionPres__info_txt {
        margin: 1em 0; 
        width: 100%;
        text-align: start;
        
    }
    .sectionPres__begin {
        text-align: left; 
        margin-left: 0; 
    }
    .sectionPres__img {
        flex: 1;
        position: relative; 
        /* width: 45%;  */
        text-align: center; 
    }
    
    .sectionPres__productivityImg {
        max-width: 100%; 
        height: auto; 
    }
    
    .sectionFeatures .sectionFeature__card{
        display: flex;
        flex-direction: column;
        margin: .8em;
        padding: .8em;
        width: 25%;
        border: 2px var(--fourth-color)solid;
        border-radius: 10px;
        text-align: center;
        font-size: 1.5em;
    }
    
    .sectionPrices{
        width: 80%;
    }
    .sectionPrices .sectionPrices__card{
        flex-direction: column;
        font-size: 1.5em;
        margin: 1em;
        padding: 1em;
        width: 20%;
    }

    .contactForm {
        width: 90%;
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
        gap: 1em; 
        padding: 1em;
    }
    
    .sectionContactForm,
    #sectionContactForm__msg {
        height: 2vh;
        font-size: 1.5em;
        flex: 1; 
    }

    #sectionContactForm__msg::placeholder{
        line-height: 15px;
    }
    .sectionContactForm__submitBtn {
        width: 30%;
        align-self: flex-end;
        margin-top: 1em;
        margin-left: auto;
        font-size: 1.5em;
    }
    
}